
.center{
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
}


@mixin default-page-size{
    min-height: 100vh;
    background-color: #f2f2f2;
}


#wrapper-register{
    @include default-page-size();

    .form-check{
        margin-left: 20px;
    }

}

#wrapper-login{
    @include default-page-size();
    background-image: url('../../assets/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}